
.rootContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: fit-content;
    width: fit-content;

    /* margin-top: 15vh; */
    gap: 1rem;
}

.divCard {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.8);
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    animation: fadeIn 0.8s ease-out forwards;
}

/* TODO: Move to component */
/* About me */
.aboutMeSection {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    max-width: 50rem;

    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.8);
}

/* TODO: Move to component */
/* Services Provided*/

.servicesProvidedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.8);
}

.servicesProvidedTitleDiv {
    /* border: 1px solid red; */
    width: fit-content;
}

.servicesContainer {
     /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
}

.service {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;

    width: 21rem;
    max-width: 40rem;
    flex-grow: 1;

    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.8);
}

.serviceTitle {

}

.serviceContent {
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: fadeIn 1.2s ease-out forwards;
}

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(200px); }
        to { opacity: 1; transform: translateY(0); }
    }