
.contactAndLinksContainer {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.linkInButton {
  display: inline-block; /* Make it behave like a button */
  background-color: #0a66c2;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  transition: filter 0.1s ease-in-out;
}

.linkInButton:hover {
  color: white;
  filter: drop-shadow(0 0 0.1rem #0a66c2);
}
